<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pinyougou.mapper.BrandMapper">
    <delete id="deleteByIds">
        delete from tb_brand where id in
        <foreach collection="ids" item="id" close=")" separator="," open="(">
            #{id}
        </foreach>
    </delete>

    <select id="selectByBrand" resultType="com.pinyougou.pojo.Brand">
        select * from tb_brand
        <where>
            <if test="name != null and name != ''">
                and name like concat('%',#{name},'%')
            </if>
            <if test="firstChar != null and firstChar != ''">
                and first_char = #{firstChar}
            </if>
        </where>
        order by id asc
    </select>
</mapper>