<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pinyougou.mapper.GoodsMapper">
    <select id="findAll" resultType="java.util.HashMap">
        select id,goods_name as goodsName,price,category1_id,category2_id,category3_id,audit_status as auditStatus from tb_goods
        where is_delete is null
        <if test="sellerId != null and sellerId !=''">
            and seller_id = #{sellerId}
        </if>
        <if test="auditStatus != null and auditStatus != ''">
            and audit_status = #{auditStatus}
        </if>
        <if test="goodsName != null and goodsName != ''">
            and goods_name like concat('%',#{goods_name},'%')
        </if>
    </select>

    <update id="updateDeleteStatus">
        update tb_goods set is_delete = 1 where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
             #{id}
        </foreach>
    </update>

    <update id="updateMarktable">
        update tb_goods set is_marketable = #{status} where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>