<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinyougou.mapper.TypeTemplateMapper">
    <select id="selectAllByName" resultType="com.pinyougou.pojo.TypeTemplate">
        select * from tb_type_template
        <where>
            <if test="name != null and name != ''">
                name = #{name}
            </if>
        </where>
        order by id asc
    </select>

    <delete id="deleteByIds">
        delete from tb_type_template
        <where>
            id in
            <foreach collection="ids" item="id" separator="," open="(" close=")">
                #{id}
            </foreach>
        </where>
    </delete>
</mapper>