<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 配置加载属性文件 -->
    <context:property-placeholder location="classpath*:props/*.properties"/>
    <!-- 导入数据访问配置文件 -->
    <import resource="classpath:applicationContext-mapper.xml"/>
    <!-- 导入redis相关配置文件-->
    <import resource="classpath:applicationContext-redis.xml" />
    <!--######### 配置Dubbo服务提供者 #########-->
    <!-- 配置当前应用名称 -->
    <dubbo:application name="pinyougou-content-service"/>

    <!-- 配置注册中心Zookeeper，注册服务 -->
    <dubbo:registry protocol="zookeeper" address="192.168.12.130:2181"/>

    <!-- 配置用dubbo协议在20881端口暴露服务 -->
    <dubbo:protocol name="dubbo" port="20881"/>

    <!-- 配置采用包扫描来暴露服务 -->
    <dubbo:annotation package="com.pinyougou.content.service.impl"/>

</beans>